<img src="logo.png">

In [1]:
from sklearn.datasets import load_iris
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
dataset = load_iris()
dataset.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename'])

In [3]:
dataset["target"][:10] # 처음부터 10개까지
dataset["target"][-10:] # 끝 10개부터 끝까지

array([2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [4]:
np.unique(dataset["target"], return_counts=True)
# dataset["target"].unique()  - error (dataframe)

(array([0, 1, 2]), array([50, 50, 50], dtype=int64))

In [5]:
dataset["feature_names"]

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [6]:
dataset["data"][:5]

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2]])

In [7]:
df = pd.DataFrame(dataset["data"], columns = dataset["feature_names"])
df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [8]:
df["target"] = dataset["target"]

In [9]:
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [10]:
df.columns = ["sepal_length","sepal_width","petal_length","petal_width","target"]
# df.rename(columns = {" " : " " }, inplace = True)
# df.rename(index = {" " : " " }, inplace = True) 
df

     sepal_length  sepal_width  petal_length  petal_width  target
0             5.1          3.5           1.4          0.2       0
1             4.9          3.0           1.4          0.2       0
2             4.7          3.2           1.3          0.2       0
3             4.6          3.1           1.5          0.2       0
4             5.0          3.6           1.4          0.2       0
..            ...          ...           ...          ...     ...
145           6.7          3.0           5.2          2.3       2
146           6.3          2.5           5.0          1.9       2
147           6.5          3.0           5.2          2.0       2
148           6.2          3.4           5.4          2.3       2
149           5.9          3.0           5.1          1.8       2

[150 rows x 5 columns]

In [11]:
df.index.values

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149], dtype=int64)

In [12]:
# DataFrame + Series = concat(  axis =1  )
s = pd.Series(dataset["target"])
s

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Length: 150, dtype: int32

In [13]:
df = pd.concat([df,s], axis=1)
df

     sepal_length  sepal_width  petal_length  petal_width  target  0
0             5.1          3.5           1.4          0.2       0  0
1             4.9          3.0           1.4          0.2       0  0
2             4.7          3.2           1.3          0.2       0  0
3             4.6          3.1           1.5          0.2       0  0
4             5.0          3.6           1.4          0.2       0  0
..            ...          ...           ...          ...     ... ..
145           6.7          3.0           5.2          2.3       2  2
146           6.3          2.5           5.0          1.9       2  2
147           6.5          3.0           5.2          2.0       2  2
148           6.2          3.4           5.4          2.3       2  2
149           5.9          3.0           5.1          1.8       2  2

[150 rows x 6 columns]

In [14]:
df.rename( columns = { 0 : "target2"} , inplace = True)
df

     sepal_length  sepal_width  petal_length  petal_width  target  target2
0             5.1          3.5           1.4          0.2       0        0
1             4.9          3.0           1.4          0.2       0        0
2             4.7          3.2           1.3          0.2       0        0
3             4.6          3.1           1.5          0.2       0        0
4             5.0          3.6           1.4          0.2       0        0
..            ...          ...           ...          ...     ...      ...
145           6.7          3.0           5.2          2.3       2        2
146           6.3          2.5           5.0          1.9       2        2
147           6.5          3.0           5.2          2.0       2        2
148           6.2          3.4           5.4          2.3       2        2
149           5.9          3.0           5.1          1.8       2        2

[150 rows x 6 columns]

In [15]:
df.drop(columns = "target2")

     sepal_length  sepal_width  petal_length  petal_width  target
0             5.1          3.5           1.4          0.2       0
1             4.9          3.0           1.4          0.2       0
2             4.7          3.2           1.3          0.2       0
3             4.6          3.1           1.5          0.2       0
4             5.0          3.6           1.4          0.2       0
..            ...          ...           ...          ...     ...
145           6.7          3.0           5.2          2.3       2
146           6.3          2.5           5.0          1.9       2
147           6.5          3.0           5.2          2.0       2
148           6.2          3.4           5.4          2.3       2
149           5.9          3.0           5.1          1.8       2

[150 rows x 5 columns]

In [16]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width  target  target2
0           5.1          3.5           1.4          0.2       0        0
1           4.9          3.0           1.4          0.2       0        0
2           4.7          3.2           1.3          0.2       0        0
3           4.6          3.1           1.5          0.2       0        0
4           5.0          3.6           1.4          0.2       0        0

In [17]:
df22 = df.copy()
df22.head()

   sepal_length  sepal_width  petal_length  petal_width  target  target2
0           5.1          3.5           1.4          0.2       0        0
1           4.9          3.0           1.4          0.2       0        0
2           4.7          3.2           1.3          0.2       0        0
3           4.6          3.1           1.5          0.2       0        0
4           5.0          3.6           1.4          0.2       0        0

In [18]:
df22 = df22.drop(index= 1)
df22.head()

   sepal_length  sepal_width  petal_length  petal_width  target  target2
0           5.1          3.5           1.4          0.2       0        0
2           4.7          3.2           1.3          0.2       0        0
3           4.6          3.1           1.5          0.2       0        0
4           5.0          3.6           1.4          0.2       0        0
5           5.4          3.9           1.7          0.4       0        0

In [19]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width  target  target2
0           5.1          3.5           1.4          0.2       0        0
1           4.9          3.0           1.4          0.2       0        0
2           4.7          3.2           1.3          0.2       0        0
3           4.6          3.1           1.5          0.2       0        0
4           5.0          3.6           1.4          0.2       0        0

In [20]:
df = df.drop("target", axis=1)

In [21]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width  target2
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [22]:
df.rename(columns = {"target2":'target'}, inplace =True)
df.head()

   sepal_length  sepal_width  petal_length  petal_width  target
0           5.1          3.5           1.4          0.2       0
1           4.9          3.0           1.4          0.2       0
2           4.7          3.2           1.3          0.2       0
3           4.6          3.1           1.5          0.2       0
4           5.0          3.6           1.4          0.2       0

# 학습
1) 문제지 정답지 분리 == target 분리시키기
2) 8:2 train test 나누기
3) model 선정
4) model.fit(문제지8, 답안지8)
5) 컴퓨터답2 = model.predict(문제지2)
6) accuracy_score(답안지2, 컴퓨터답2)

In [23]:
정답지 = df["target"]
문제지 = df.drop("target", axis=1)
# df2 = df[~ "target"]

In [24]:
from sklearn.model_selection import train_test_split

In [25]:
train_test_split

In [26]:
문제지8, 문제지2, 정답지8, 정답지2 = train_test_split(문제지, 정답지, train_size=0.8, random_state=1414)

In [27]:
문제지8.shape , 정답지8.shape,  문제지2.shape, 정답지2.shape

((120, 4), (120,), (30, 4), (30,))

In [28]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [29]:
model = RandomForestClassifier()
def train_fit_score(문제지, 정답지, model=model, random_state=None):
    
    문제지8, 문제지2, 정답지8, 정답지2 = train_test_split(문제지, 정답지, train_size=0.8, random_state=1414)
    model.fit(문제지8, 정답지8)
    컴퓨터답2 = model.predict(문제지2)
    score = accuracy_score(정답지2, 컴퓨터답2)
    print("1차점수 : accuracy:", score)
    
train_fit_score(문제지, 정답지, model, random_state=1414)

1차점수 : accuracy: 0.9666666666666667

# kfold

In [30]:
from sklearn.model_selection import KFold, StratifiedKFold

In [31]:
kfold = KFold(n_splits=3 , random_state=1414, shuffle=True)

In [32]:
total_score = []
for train_index, test_index in kfold.split(문제지, 정답지):
    문제지8, 문제지2 = 문제지.iloc[train_index], 문제지.iloc[test_index]
    정답지8, 정답지2 = 정답지.iloc[train_index], 정답지.iloc[test_index]
   #train_test_split(문제지,정답지, test_sizse=0.2, random_state=1414, shuffle=False) ----
    model.fit(문제지8, 정답지8)
    컴퓨터답2 = model.predict(문제지2)
    score = accuracy_score(정답지2, 컴퓨터답2)
    print("fold accuracy:", score)  
    total_score.append(score)
    ####return np.array(total_score)
    
print("평균", np.array(total_score).mean())

fold accuracy: 0.92
fold accuracy: 1.0
fold accuracy: 0.96
평균 0.96

# skfold

In [33]:
skfold = StratifiedKFold(n_splits=3) # random_state=1414, shuffle=True

In [34]:
skfold = StratifiedKFold(n_splits=3)
total_score = []
for train, test in skfold.split(문제지, 정답지):
    문제지8, 문제지2 = 문제지.iloc[train], 문제지.iloc[test]
    정답지8, 정답지2 = 정답지.iloc[train], 정답지.iloc[test]
    model.fit(문제지8, 정답지8)
    컴퓨터답2 = model.predict(문제지2)
    score = accuracy_score(정답지2, 컴퓨터답2)
    total_score.append(score)
    print("skfold", score)
    
print("평균", np.array(total_score).mean())

skfold 0.98
skfold 0.94
skfold 0.96
평균 0.96

# cross_val_score ( 오직 점수만 볼때 )

In [35]:
from sklearn.model_selection import cross_val_score
# cross_val_score : return > ndarray

In [36]:
cross_val_score(model, 문제지, 정답지, cv=3)
score = cross_val_score(model, 문제지, 정답지, cv=3)
print(score)
score.mean()

[0.98 0.94 0.96]

0.96

In [37]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width  target
0           5.1          3.5           1.4          0.2       0
1           4.9          3.0           1.4          0.2       0
2           4.7          3.2           1.3          0.2       0
3           4.6          3.1           1.5          0.2       0
4           5.0          3.6           1.4          0.2       0

# GridSearchCV

In [38]:
from sklearn.model_selection import GridSearchCV

In [39]:
model = DecisionTreeClassifier()

In [40]:
rfmodel =  RandomForestClassifier()
dcmodel =  DecisionTreeClassifier()

hyper_param = {"n_estimators":[100,200,300,400],
               "max_depth":[3,4,5,6],
               "min_samples_split":[2,3,4,5]}

skfold = StratifiedKFold(n_splits=3)

gcv = GridSearchCV(rfmodel, param_grid = hyper_param, scoring="accuracy", refit=True, cv=skfold)
gcv.fit(문제지, 정답지)
print(gcv.best_params_)
print(gcv.best_score_)
print(gcv.best_estimator_)

{'max_depth': 3, 'min_samples_split': 3, 'n_estimators': 100}
0.9666666666666667
RandomForestClassifier(max_depth=3, min_samples_split=3)

In [41]:
hyper_param = {"max_depth":[3,4,5,6],
               "min_samples_split":[2,3,4,5]}

skfold = StratifiedKFold(n_splits=3)

gcv = GridSearchCV(rfmodel, param_grid = hyper_param, scoring="accuracy", refit=True, cv=skfold)
gcv.fit(문제지, 정답지)
print(gcv.best_params_)
print(gcv.best_score_)
print(gcv.best_estimator_)

{'max_depth': 4, 'min_samples_split': 5}
0.9666666666666667
RandomForestClassifier(max_depth=4, min_samples_split=5)

# Graphviz

In [42]:
# # # Graphviz 설치하기¶


# # 1. https://graphviz.org/download/ 접속하여 msi 파일 다운로드
# # 2. 시스템 환경변수 path 추가
# #  - 파일위치\graphviz2.xx\bin
# #  - 파일위치\graphviz2.xx\bin\dot.exe

# # 3. 파이썬
# import os
# os.environ["PATH"] += os.pathsep + 'C:\\AI\\Graphviz\\bin'
# print(os.environ["PATH"])


# from sklearn.tree import DecisionTreeClassifier
# # .dot 파일로 export 해줍니다
# export_graphviz(model, out_file='tree.dot')

# # 생성된 .dot 파일을 .png로 변환
# from subprocess import call
# call(['dot', '-Tpng', 'tree.dot', '-o', 'tree.png', '-Gdpi=600'])

# # # jupyter notebook에서 .png 직접 출력
# from IPython.display import Image
# Image(filename = 'tree.png')

In [43]:
# import os
# os.environ["PATH"] += os.pathsep + 'C:\\AI\\Graphviz\\bin'
# print(os.environ["PATH"])

# from sklearn.tree import DecisionTreeClassifier
# model = DecisionTreeClassifier()
# model.fit(문제지8, 정답지8)


# from sklearn.tree import export_graphviz
# # .dot 파일로 export 해줍니다
# export_graphviz(model, out_file='tree2.dot')

# # 생성된 .dot 파일을 .png로 변환
# from subprocess import call
# call(['dot', '-Tpng', 'tree2.dot', '-o', 'tree2.png', '-Gdpi=600'])


# from IPython.display import Image
# Image(filename = 'tree2.png')

In [44]:
from pycaret.classification import *

In [45]:
clf = setup(
    data=df,                                              # train
    target='target',                                      # 라벨 컬럼명
    # train_size: float = 0.7,
    # test_data: Optional[pd.DataFrame] = None,
    # preprocess: bool = True,
    # categorical_features: Optional[List[str]] = None,   # 범주형 컬럼 설정
    # categorical_imputation: str = "constant",           # 범주형 결측치
    # ordinal_features: Optional[Dict[str, list]] = None, # 명목형 컬럼 설정
    # numeric_features: Optional[List[str]] = None,       # 수치형 컬럼 설정. map 인코딩
    # numeric_imputation: str = "mean",                   # 수치형 결측치
    # date_features: Optional[List[str]] = None,          # 날짜 컬럼
    # ignore_features: Optional[List[str]] = None,        # drop
    # normalize: bool = False,                            # scale
    # normalize_method: str = "zscore",                   # default StandardScaler()
    # transformation: bool = False,                       # 정규화
    # transformation_method: str = "yeo-johnson",         # default box-cox의 개선 방식
    # pca: bool = False,
    # pca_components: Optional[float] = None,
    # ignore_low_variance: bool = False,
    # bin_numeric_features: Optional[List[str]] = None,   # 구간화
    # remove_outliers: bool = False,
    # outliers_threshold: float = 0.05,                   # 이상값 처리할 데이터 범위
    # remove_multicollinearity: bool = False,             # 다중공선 제거
    # multicollinearity_threshold: float = 0.9,           # 다중공선 제거할 상관계수 설정
    # remove_perfect_collinearity: bool = True,
    # feature_selection: bool = False,                    # 랜덤포레스트의 컬럼 샘플링 방식
    # feature_selection_threshold: float = 0.8,
    # feature_interaction: bool = False,                  # 컬럼1 * 컬럼2 연산
    # feature_ratio: bool = False,                        # 컬럼1 / 컬럼2 연산
    # fix_imbalance: bool = False,                        # 라벨 데이터 불균형
    # fix_imbalance_method: Optional[Any] = None,         # default SMOTE
    # data_split_shuffle: bool = True,
    # data_split_stratify: Union[bool, List[str]] = False,
    # fold_strategy: Union[str, Any] = "stratifiedkfold", # kfold, skfold, timeseries 등
    fold = 10,
    # fold_shuffle = True,
    # profile=True                                        # pandas profiling
)

In [46]:
top5 = compare_models(
    # include: Optional[List[Union[str, Any]]] = None, # 비교에 포함할 모델
    # exclude: Optional[List[str]] = None,             # 비교에 제거할 모델
    # fold: Optional[Union[int, Any]] = None,
    # round: int = 4,                                  # metrics 반올림
    # cross_validation: bool = True,
    sort='Accuracy',                                         # 정렬할 metrics
    n_select=5,                                        # 상위 n개 모델
)